{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About My Blog on Terminal.com</h1>
    </header>
    <article>
        <p>This blogging website was created using Symfony2. The Standard Distribution of the Symfony2 framework, which includes the main components you will need when building your own websites. My Blog covers different aspects of Symfony2 and its components..</p>
    </article>
{% endblock %}
